<div class="center-form-box-container">

    <div class="center-form-box">
  
        <div class="center-form-box-header">
          <h3>{{ form_header }}</h3>
          <div class="non-form-field-errors">{{ form.non_field_errors}}</div>
        </div>
  
      <form class="center-form-box-form" method="post">
          {% csrf_token %}
  
          {% for hidden_field in form.hidden_fields %}
              {{ hidden_field.errors }}
              {{ hidden_field }}
          {% endfor %}
  
          {% for field in form.visible_fields %}
              <div class="form-label bold">
                  {{ field.label_tag }}
              </div>
  
              <div class="form-errors">
                  {{ field.errors }}
              </div>
  
              <div class="form-field">
                  {{ field }}
              </div>
  
              <div class="form-help-text">
                  {{ field.help_text }}
              </div>
          {% endfor %}
  
        <button type="submit">{{ button_text|default:"SAVE" }}</button>
      </form>
  
    </div>
    
  </div>