{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href={% static 'main/css/main.css' %}>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <title>
        {% block title %}
        {% endblock %}
    </title>

    {% block head %}{% endblock head %}
    {% block postheadjs %}{% endblock postheadjs %}
    

    <style>
        {% block style %}{% endblock style %}
    </style>
</head>
<body>

    {% include 'main/components/navbar.html' %}



    {% block body %}{% endblock body %}
    {% block bodyjs %}{% endblock bodyjs %}
    <script src={% static 'main/js/main.js' %}></script>

</body>
</html>